.search-form {
  width: 300px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  border-radius: 10px;

  input {
    border: none;
    height: 40px;
    outline: none;
    border-radius: 15px;
    width: 77%;
    margin: 0 4px 0 0;
  }

  button {
    font-weight: 700;

    border-color: white;
    outline: none;
    width: 23%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-color: #5b5d5f;
    color: white;

    &:hover {
      background-color: #464749;
      color: white;
    }
  }
}

.form-container {
  margin: 5vh auto 5vh auto;
}

