.search-form {
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    border-radius: 10px;
  }
  .search-form input {
    border: none;
  
    height: 40px;
    outline: none;
    border-radius: 10px;
    width: 77%;
    margin: 0 4px 0 0;
  }
  .search-form button {
    font-weight: 500;
    font-family: sans-serif;
    border: none;
    width: 23%;
    height: 40px;
    border-radius: 10px;
    outline: none;
  }
  