.navbar {
    display: block;
    background-color: #3a3d4691;
    color: rgb(255, 255, 255);
    font-size: calc(10px + 2vmin);
    min-height: 6vh;
    display: flex;
    padding: 1vh 5vh;
    align-items: center;
    justify-content: left;
    font-weight: 700;
  }