* {
  box-sizing: border-box;
}
/* background-color: #282c34; */
.navbar {
  background-color: #95dada;
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 6vh;
  display: flex;
  padding: 1vh 5vh;
  align-items: center;
  justify-content: left;
}

.search {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  margin: 30px 20px 20px 20px;
}
.search-form input {
  width: 200px;
  height: 30px;
}
.search-form button {
  width: 70px;
  height: 30px;
}
